@import '~normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$main-color: tomato;
// INITIAL
.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#babylon{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0px;
}
.fps{
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10000;
  color: black;
  font-size: 26px;
}
// FILES
@import 'components/main';
@import 'components/logo';
